* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
}

/*Inicio Header*/
.head {
    width: 100%;
    background-color: black;
    margin-bottom: 2%;
}

.head h1 {
    padding: 2%;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Fin header*/

/*Inicio sección*/
.seccion-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.articuloP {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.articulo-1 {
    padding: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aside-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-1 {
    width: 80%;
    height: 80%;
    margin: 2%;
}

.div-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.asideP {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*añadido para la fecha*/

@keyframes cambiarcolor {
    0%   {color: darkmagenta;}
    25% {color: crimson;}
    50% {color: black;}
    75% {color: #4d4e0a;}
    100% {color: #03444e;}
}
#mostrarFecha {
    animation-name: cambiarcolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/* boton confirmar*/
#confirmar {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
#confirmar:hover {
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: 0 0 15px 0 #000000;
    transition: 0.5s;

}
/*area de texto*/
#txt1 {
    width: 300px;
    height: 120px;
    border: 3px solid black;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    background-color: white;
    background-position: bottom right;
    background-repeat: no-repeat;
}
#btnPedido {
    width: 50%;
    height: 20%;
    cursor: pointer;
    background-color: rgb(255, 191, 72);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*Inputs de numeros*/
#cantidadBurguer100g,
#cantidadBurguer200g,
#cantidadBurguer300g,
#cantidadPatPeque,
#cantidadPatMed,
#cantidadPatGran,
#cantidadVaso1,
#cantidadVaso05,
#cantidadVaso075,
#cantidadNug1,
#cantidadNug2,
#cantidadNug3,
#cantidadMc1,
#cantidadMc2,
#cantidadMc3 {
    width:auto;
    border: 2px solid black;
    border-radius: 4px;
}
/*btn info*/

.btnInformacion{
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-top: 4%;
}

.btnInformacion:hover {
    color: black;
    background-color: darkcyan;
    border-color: black;
}


#btnPedido:hover {
    border-radius: 10px;
}

#miTicket {
    margin: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pagar {
    width: 50%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: row;
}

#precioF {
    width: 60%;
}

#btnPagar {
    width: 40%;
    background-color: rgb(95, 231, 95);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: pointer;
}

#btnPagar:hover {
    border-radius: 10px;
}

#ticketnum1 {
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ticketnum2 {
    width: 70%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    margin-top: 10%;
    font-size: 40px;
}

#numRandom {
    margin-top: 5%;
    font-size: 100px;
}

#reinicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 20%;
}

#btnCancelar {
    margin-left: 2%;
    width: 50%;
    background-color: rgb(231, 55, 55);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    cursor: pointer;
}

#btnCancelar:hover {
    border-radius: 50px;
}

#link {
    width: 80%;
}

#confirmar {
    position: absolute;
  top: 40%;
  left: 70%;
}

#observ {
    display: block;
    top: 15%;
    position: absolute;
    left: 70%;
}
#ImgLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}
/*Fin de sección*/